html {
    width: 100%;
    margin: 0;
    padding: 0;
}
header {
    background-color: red;
    position:absolute;
    top:0;
    left:0;
    height: 15vmax;
    width: 100%;
    display: flex;
    font-size: 1.5vmax;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23);
    
}

h1 {
    color: white;
    
    
}
#multiplication {
    margin-top: 3vmax;
    padding-top: 1vmax;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: white;
    text-align: center;
}
#choice {
    height: 12vmax;
    width: 40vmax;
}
select { 
    width: 30vmax;
    text-align: center;
}
input{
    width: 15vmax;
    margin-left: 20vmax;
}

/*#multiplication:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}*/



/*#multiplication {
    
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    text-align: center;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
}*/